env:
  global:
  - PACKER_VERSION=1.0.0
  - TERRAFORM_VERSION=0.9.8
  - TOOLS_DIR=$HOME/tools
  - PACKER_TEMPLATE=packer_apache_php.json
  - PACKER_VARS=vars/travis.json
  - STATE_BUCKET=maurin-d2si
  - STATE_KEY=demo/frontends
  - AWS_DEFAULT_REGION=eu-west-1

dist: trusty

language: php

php:
  - '5.6'

before_install:
  - composer self-update

script:
  - php -l site/index.php
  - export COMMIT_SUBJECT="$(git log --format=%s --no-merges -n 1)"

before_deploy:
  - export PATH=$PATH:$TOOLS_DIR/bin
  - scripts/install_packer.sh
  - scripts/install_terraform.sh
#  - pip install --user awscli

deploy:
  provider: script
  script:
    - scripts/pack_and_deploy.sh $TRAVIS_BUILD_DIR $PACKER_VARS $PACKER_TEMPLATE $TRAVIS_COMMIT $STATE_BUCKET $STATE_KEY
  on:
    branch: master
    condition: "$COMMIT_SUBJECT != *\"[no deploy]\"*"
